In [6]:
from tqdm import tqdm
from redis import Redis
import json

In [7]:
#create a connection with Redis
r=Redis()

In [8]:
#verify write access
r.set('a',5)

True

In [9]:
#open the HN_Stories Files created by using their API 
f=open('../HN_Stories','r')
data=f.read()

In [18]:
#first entry of the json file
new_data_head=json.loads(data.split('}\n{')[0]+'}')

In [26]:
#every entry except for the last
new_data_xs=json.loads('{'+data.split('}\n{')[1]+'}')
new_data_xs['time']

1475591929

In [24]:
#The number of entries in the db - 2 
len(data.split('}\n{'))

6550674

In [31]:
new_data=data.split('}\n{')
new_data[1]

'\n  "by" : "williswee",\n  "descendants" : 0,\n  "id" : 12635847,\n  "score" : 3,\n  "time" : 1475591929,\n  "title" : "Stripe officially launches in Japan with a new investor",\n  "type" : "story",\n  "url" : "https://www.techinasia.com/stripe-official-japan-launch"\n'

In [ ]:

for ix in range(1,6550674):
    try:
        dct=json.loads('{'+new_data[ix] +'}')
        key=dct['time']
        r.hmset(key,dct)
    except:
        print ix

709
2369
3858
4381
6803
6878
6906
9765
17599
18555
30091
32506
39474
57301
58009
75778
86970
113988
122743
151880
161946
195565
208778
221202
227532
238049
258628
275848
280771
282459
293463
293717
293721
335673
335674
335677
335683
335687
335689
335692
335693
335700
335704
335705
335709
335715
335727
335728
335729
335737
335740
335741
335742
335743
335744
335747
335749
335751
335753
335758
345023
347587
384348
399342
425220
435215
435245
461604
468941
476877
490835
504199
510430
511407
515337
537477
587747
610344
622695
628913
658127
658508
672334
700384
715917
718546
719058
808475
883394
892939
893747
902853
918069
939471
949545
967093
1030535
1040668
1060792
1123343
1128843
1158769
1158771
1158772
1158776
1182561
1215370
1263545
1270311
1277204
1292536
1292540
1310901